.intro {
    position: relative;
    top: 64px;
    height: 292px;
    background: #E7816B;
    border-radius: 15px;

    img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .intro-item {
        
        display: flex;

        .section3--intro {

            padding-top: 42px;
           padding-left: 20px;

            .section3-h2 {
                width: 280px;
                font-weight: 500;
                font-size: 40px;
                line-height: 40px;
                color: #FFFFFF;

            }

            .section3-p {
                width: 400px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;

                color: #FFFFFF;
            }

        }

        .intro-a {
            position: relative;
            width: 152px;
            height: 56px;
            background: #FFFFFF;
            border-radius: 8px;
            text-align: center;
            margin-top: 118px;
            margin-left: 309px;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1px;
            text-transform: uppercase;

            a {
                position: absolute;
                text-decoration: none;
                top: 20px;
                left: 20px;

            }
        }
    }
}
@media only screen and(max-width:768px){
    .intro {
        overflow: hidden;
        position: relative;
        top: 64px;
        height: 350px;
        margin: 0 auto;
        background: #E7816B;
        border-radius: 15px;
    
        img {
            width: 890px;
        height: 350px;
            position: absolute;
            top: 0;
           left: 0;
           
        }
    
        .intro-item {
            
          
    
            .section3--intro {
    
                padding-top: 42px;
               
    
                .section3-h2 {
                    margin-left: 150px;
                    width: 280px;
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 40px;
                    color: #FFFFFF;
                    text-align: center;
    
                }
    
                .section3-p {
                    text-align: center;
                    width: 573px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
    
                    color: #FFFFFF;
                }
    
            }
    
            .intro-a {
                position: absolute;
                width: 152px;
                height: 56px;
                background: #FFFFFF;
                border-radius: 8px;
                text-align: center;
              margin-top: 270px;
              margin-left: 250px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 1px;
                text-transform: uppercase;
    
                a {
                    position: absolute;
                    text-decoration: none;
                  
                }
            }
        }
    } 
}
@media only screen and(max-width:375px){
    .intro {
        overflow: hidden;
        position: relative;
        top: 64px;
     
        margin: 0 auto;
        background: #E7816B;
        border-radius: 15px;
    
        img {
          
        
            position: absolute;
           
            top: 0;
           left: 0;
           
        }
    
        .intro-item {
           
            
          
    
            .section3--intro {
    
                padding-top: 12px;
               
    
                .section3-h2 {
                    margin-left: 0px;
                    width: 280px;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 40px;
                    color: #FFFFFF;
                  
    
                }
    
                .section3-p {
              
                    width: 292px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
    
                    color: #FFFFFF;
                }
    
            }
    
            .intro-a {
                position: absolute;
                width: 152px;
                height: 56px;
                background: #FFFFFF;
                border-radius: 8px;
                text-align: center;
              margin-top: 270px;
              margin-left: 100px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 1px;
                text-transform: uppercase;
    
                a {
                    position: absolute;
                    text-decoration: none;
                  
                }
            }
        }
    } 
}